body {
    background-color: #202020;
    color: white;
    font-size: 16px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
title {
    background-color: #2b2b2b;
    color: white;
}
.banner {
    background-image: url(logo.png);
    height: 548px;
    /* Create the parallax scrolling effect */
    /* Prevent image from repeating */
    background-repeat: no-repeat;
    color: black;
    font-family: Impact;
    padding-left: 8px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
p {
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #9966cc;
    color: #ffffff;
}
.section-title {
    font-size: 1.5em;
    margin-top: 20px;
}
a:link {
    color: #9966cc;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #9966cc;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #9966cc;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
.footer{
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
.footer .row a:hover{
}
.footer .row ul{
    width:100%;
}
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
@media (max-width:720px){
.footer{
    text-align:left;
    padding:5%;
}
.footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
}
.footer .row a i{
    margin:0% 3%;
}
}
.dark-mode {
    background-color: #202020;
    color: white;
}
.light-mode {
    background-color: white;
    color: #202020;
}
/* The side navigation menu */
.sidebar {
    font-family: "Segoe UI";
    font-size: 18px;
    margin: 0;
    margin-top: 26px;
    padding: 0;
    font-weight: bold;
    width: 230px;
    background-color: #f0f0f0;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
/* Active/current link */
.sidebar a.active {
    background-color: #9966cc;
    color: white;
}
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 230px;
    padding: 1px 16px;
    height: 1000px;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
code{
    font-family: monaco,Consolas,Lucida Console,monospace;
    color: whitesmoke;
    background-color: black;
}
pre{
    color: whitesmoke;
    background-color: black;
    scrollbar-color: dark;
    width: 100%;
    max-height: 1200px;
    display: inline-block;
    overflow: auto;
}
